export APP_HOME="/opt/openproject"
export APP_NAME="openproject"
export APP_SAFE_NAME="openproject"
export APP_GROUP="openproject"
export APP_USER="openproject"
export APP_WIZARDS="legacy-installer,apache2,repositories,memcached,openproject"
export APP_RUNNER_TYPE="systemd"
export APP_RUNNER_CLI="systemctl"
export PORT=${PORT:=6000}

export HOME="/home/openproject"
